### Build Output ###
/build/
.gradle/
*.class
*.log

### IDEs ###
# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

### OS-Specific ###
.DS_Store
Thumbs.db

### Gradle Wrapper ###
gradle-app.setting
gradle.properties
.gradle-cache/

### Test Reports ###
/build/reports/
/build/test-results/
/test-output/
HELP.md
